.layout {
  display: flex;

  height: 100vh;
  width: 100vw;
}

.nav {
  width: 230px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #eee;

  ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav li {
  padding: 5px 10px;
}

.nav a {
  display: block;
  color: #121212;
  padding: 8px 10px;
  border-radius: 4px;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.nav a.active {
  background-color: #e6f4ff;
  color: #1677ff;
}

.nav .header{
  padding: 10px 5px;
  margin: 0 5px;
  font-size: 18px;
  padding-left: 12px;
  border-bottom: 1px solid #eee;
}

.nav .container{
  flex: 1;
}

.nav .footer{
  padding: 12px 0;
  margin: 0 5px;
  text-align: right;
  border-top: 1px solid #eee;
}

.nav .logout {
  color: #1677ff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

.main {
  flex: 1;
  padding-left: 20px;
}